h1 {
    text-align: center;
    background-color: rgb(45, 177, 213);
}
.parent {
padding: 10px;
background-color: rgb(24, 166, 217);
width: 100%;
height: 100px;
display: grid;
grid-template-columns: auto auto auto auto auto;
gap: 10px;
}   
div {
background-color: rgb(185, 185, 12);
text-align: center;
line-height: 100px;
}
.i1:hover {
background-color: yellow;
cursor: pointer;
}